In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/niampopat/Library/CloudStorage/OneDrive-UniversityofBristol/Documents/Data science for Economists/CSVs/bede030f-1a19-41f7-8b98-d50ebc49e90d_Data.csv')

print(df)

                                          Series Name  Series Code  \
0                                   Population, total  SP.POP.TOTL
1                                   Population, total  SP.POP.TOTL
2                                   Population, total  SP.POP.TOTL
3                                   Population, total  SP.POP.TOTL
4                                   Population, total  SP.POP.TOTL
..                                                ...          ...
798                                               NaN          NaN
799                                               NaN          NaN
800                                               NaN          NaN
801  Data from database: World Development Indicators          NaN
802                          Last Updated: 11/13/2024          NaN

       Country Name Country Code 2022 [YR2022] 2023 [YR2023]
0       Afghanistan          AFG      41128771      42239854
1           Albania          ALB       2777689       2745972
2           Algeria          DZA      44903225      45606480
3    American Samoa          ASM         44273         43914
4           Andorra          AND         79824         80088
..              ...          ...           ...           ...
798             NaN          NaN           NaN           NaN
799             NaN          NaN           NaN           NaN
800             NaN          NaN           NaN           NaN
801             NaN          NaN           NaN           NaN
802             NaN          NaN           NaN           NaN

[803 rows x 6 columns]

In [3]:
print(df.columns)

Index(['Series Name', 'Series Code', 'Country Name', 'Country Code',
       '2022 [YR2022]', '2023 [YR2023]'],
      dtype='object')

In [13]:
df = df[['Country Name', '2022 [YR2022]','Series Name']]
print(df.columns)
df.dropna(inplace=True)
print(df)

Index(['Country Name', '2022 [YR2022]', 'Series Name'], dtype='object')
                                   Country Name     2022 [YR2022]  \
0                                   Afghanistan          41128771
1                                       Albania           2777689
2                                       Algeria          44903225
3                                American Samoa             44273
4                                       Andorra             79824
..                                          ...               ...
793                          Sub-Saharan Africa              33.6
794  Sub-Saharan Africa (excluding high income)  34.2083412575151
795   Sub-Saharan Africa (IDA & IBRD countries)              33.6
796                         Upper middle income              76.6
797                                       World              64.4

                                          Series Name
0                                   Population, total
1                                   Population, total
2                                   Population, total
3                                   Population, total
4                                   Population, total
..                                                ...
793  Individuals using the Internet (% of population)
794  Individuals using the Internet (% of population)
795  Individuals using the Internet (% of population)
796  Individuals using the Internet (% of population)
797  Individuals using the Internet (% of population)

[798 rows x 3 columns]

In [16]:
df_pivot = df.pivot(index='Country Name',columns = 'Series Name', values = '2022 [YR2022]')
df_pivot

Series Name,GDP per capita (current US$),Individuals using the Internet (% of population),"Population, total"
Country Name,,,
Afghanistan,352.603733092107,..,41128771
Africa Eastern and Southern,1642.43203899493,31.4,720859132
Africa Western and Central,1788.8753472127,36.9,490330870
Albania,6810.11404104233,82.6137,2777689
Algeria,5023.25293164928,71.2432,44903225
...,...,...,...
West Bank and Gaza,3799.95527015163,88.6469,5043612
World,12730.1571671098,64.4,7951595433
"Yemen, Rep.",..,17.6948,33696614
Zambia,1456.90157026157,31.2342,20017675
Zimbabwe,1676.82148896788,32.5615,16320537

In [22]:

df_cleaned = df_pivot[~df_pivot.apply(lambda row: row.astype(str).eq('..').any(), axis=1)]
df_cleaned.to_csv('week8taskt.csv')